
@import "header";
@import "footer";

section, footer {
    width: 100%;   
}

section > h2 {
  border-bottom: 6px solid #000;
  display: inline;
  text-transform: uppercase;
  font-size: 30px;  
}
// ---------> section about <------------

section#about {
  height: 100%;
  position: relative;  
  margin-top: 50px; 
  padding: 3vw; 
}

.about--p {
  margin-top: 40px;
  font-size: 16px; 
}

// ---------> section team <------------

section#team {
  
  height: 100%;
  position: relative;  
  margin-top: 50px;
  padding: 3vw;
}

.team--sliderbox {
  margin-top: 60px; 
  width: 100%;
  // background: red;
    .team--sliderbox-content {
        text-align: center;  
         margin-left: 10vw;      
         margin-right: 10vw;  
         position: relative;     
          p {
            margin-top: 25px;
            font-size: 20px;
            font-weight: bold;
          }
          .sliderbox-content-me {
            margin: 0 auto;
            margin-top: 15px;
            width: 25px;
            height: 25px;
            line-height: 25px;
            color: #FFFFFF;
            background-color: #000;
            cursor: pointer;
          }
          .details {
            margin: 0 auto;
            display: block;
            height: 70vw;
            width: 100%;
            position: absolute;
            padding: 15px;
            top: -70vw;
            left: 0;
            right: 0;
            width: 100%;
            -webkit-transition: all 500ms;
            transition: all 500ms;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            opacity: 0;
            border-radius: 5px;
            overflow: hidden;
            font-size: 4vw;
          }
    }
    img {
         margin: 0 auto;
         display: block;
         height: 70vw;
         width: 70vw;
         border-radius: 50%;          
       }
}

.team--sliderbox-content:hover .details, .team--sliderbox-content:focus .details {
	top: 0;
	background: #333;
	color: white;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 0.87;
}

@media screen and (min-width: 480px) {
  .team--sliderbox {
    .team--sliderbox-content {         
         margin-left: 10vw;      
         margin-right: 10vw;
         margin: auto; 
         .details {
            height: 28vw;
            width: 30vw;
            padding: 3px;
            left: 0;
            right: 0;
            top: -28vw;
            font-size: 1.85vw;
          }              
    }
    img {
         margin: 0 auto;
         display: block;
         height: 28vw;
         width: 28vw;
         border-radius: 50%;          
       }
}
.team--sliderbox-content:hover .details, .team--sliderbox-content:focus .details {
	top: 0;
	background: #333;
	color: white;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 0.87;
}

}

@media screen and (min-width: 768px) {
  section#team, section#about {    
  padding: 1vw;
}
  .team--sliderbox {
    .team--sliderbox-content {         
         margin-left: 10vw;      
         margin-right: 10vw;
         margin: auto; 
         .details {
            height: 22vw;
            width: 22vw;
            padding: 3px;
            left: 0;
            right: 0;
            top: -20vw;
            font-size: 1.45vw;
          }         
    }        
    img {
         margin: 0 auto;
         display: block;
         height: 20vw;
         width: 20vw;
         border-radius: 50%;          
       }
}
.team--sliderbox-content:hover .details, .team--sliderbox-content:focus .details {
	top: 0;
	background: #333;
	color: white;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 0.87;
}
}

@media screen and (min-width: 1024px) {
  .team--sliderbox {
    .team--sliderbox-content {         
         margin-left: 0;      
         margin-right: 0;
         margin: auto;  
         .details {            
            height: 19vw;
            width: 100%;
            max-width: 220px;
            max-height: 220px;
            padding: 3px;
            top: -16vw;
            font-size: 14px;
          }          
    }      
    img {
         margin: 0 auto;
         display: block;
         height: 16.9vw;
         width: 16.9vw;
         max-width: 205px;
         max-height: 205px;
         border-radius: 50%;          
       }
       
}
section#team, section#about {    
  padding: 0;
}

.about--p {  
  font-size: 18px; 
}
.team--sliderbox-content:hover .details, .team--sliderbox-content:focus .details {
	top: 0;
	background: #333;
	color: white;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 0.87;
}
}


.team--arrow-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  // height: 120px;
}

section#team .slider-arrow {
  display: block;
  width: 40px;
  height: 20px;
  margin: 0 20px;
  cursor: pointer;
}

.next{          
  background: url('../img/slider-arrow-right.svg') no-repeat;
    }
.prev{        
     background: url('../img/slider-arrow-left.svg') no-repeat;
  }
    
// ---------> section events <------------

section#events {
  margin-top: 35px;
  padding: 2vw;
}

.events--content {
  margin-top: calc(6vw + 10px);   

    h3 {
        margin-top: calc(2vw);
    }

    time {      
      margin-top: 4px;
      display: block;
    }

    p.event--content-tags {     
      margin-top: 4px;
    } 
     img {
      display: block;
      margin-left: auto;
      margin-right: auto;   
      height: 60vw;
      width: 90vw;
      border-radius: 30px; 
    }
    .event--content-descrip {
      width: 90vw;
      display: block;
      margin-left: auto;
      margin-right: auto; 
      text-align: justify;
    }
}

@media screen and (min-width: 480px) {
  section#events {
  padding: 0;
  padding-left: 3vw;
}
  .events--content {
    display: inline-block;
    margin-right: 3vw;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;   
      height: 30vw;
      width: 43vw;
      border-radius: 30px; 
    }
    .event--content-descrip {
      width: 43vw;
      display: block;
      margin-left: auto;
      margin-right: auto; 
      text-align: justify;
    }
}
}

@media screen and (min-width: 768px) {
  section#events {
  padding: 0;
  padding-left: 3vw;
}
  .events--content {
    display: inline-block;
    margin-right: 2vw;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;   
      height: 20vw;
      width: 29vw;
      border-radius: 30px; 
    }
    .event--content-descrip {
      width: 29vw;
      display: block;
      margin-left: auto;
      margin-right: auto; 
      text-align: justify;
    }
}
}

@media screen and (min-width: 1024px) {
  section#events {
    padding: 0;
  }
  .events--content:nth-child(3n) {    
    margin-right: 0;
    }
  
  .events--content {
    display: inline-block;
    margin-right: 35px;
    margin-top: 40px;  
      h3 {
        margin-top: 7px;
      }
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;   
        height: 21vw;
        width: 30vw;
        max-width: 358px;
        max-height: 253px;
        border-radius: 30px; 
      }
      .event--content-descrip {
        width: 30vw;
        max-width: 341px;
        display: block;
        margin-left: auto;
        margin-right: auto; 
        text-align: justify;
      }
}
}
 @media screen and (min-width: 1219px) {
   .events--content:nth-child(3n) {    
    margin-right: 0;
    }
  .events--content {      
      margin-right: 58px;     
  }
 }

// ---------> section events-more <------------

section#events-more {
  margin-top: 30px;
  padding: 3vw;
}

.events-more--wrapper {
  margin-top: 40px;
  h1 {
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 900;
  }
  p.events-more--data {  
    font-size: 28px;
    font-weight: 900;
  }
  p.events-more--descript {
    margin-top: 25px;
    font-size: 16px;
  }
}

// ---------> section events-more gallery <------------

section#events-gallery {
  margin-top: 40px;
  padding: 3vw;
}

div.events-gallery--wrapper {  
   img {
   margin-left: auto;
   margin-right: auto;
   margin-top: 40px;
   display: block;
   width: 91vw;
   height: 61vw;    
  }
}

// ---------> section events-more video <------------
section#events-video {
  margin-top: 40px;
  padding: 3vw;
}

div.events-video--wrapper {   
   iframe {
    margin-left: auto;
   margin-right: auto;
   margin-top: 40px;
   display: block;
   width: 91vw;
   height: 61vw;    
  }  
}

@media screen and (min-width: 480px) {
  section#events-gallery {
  margin-top: 40px;
  padding: 3vw;
  }

  div.events-gallery--wrapper {       
      img {
        margin-right: calc(2vw + 7px);
        margin-top: 40px;
        display: inline-block;
        width: 43vw;
        height: 30vw;    
      }
      a:nth-child(2n) {   
        img {
          margin-right: 0;
        }      
      }
  }
  section#events-video {
     margin-top: 40px;
     padding: 3vw;
  }

  div.events-video--wrapper {   
    iframe {
          margin-right: calc(2vw + 7px);
          margin-top: 40px;
          display: inline-block;
          width: 43vw;
          height: 30vw;    
        }
        a:nth-child(2n) {   
          iframe {
            margin-right: 0;
          }      
        }
    }
}

@media screen and (min-width: 768px) {
  section#events-gallery {
  margin-top: 40px;
  padding: 3vw;
  }

  div.events-gallery--wrapper {       
      img {
        margin-right: 3vw;
        margin-top: 40px;
        display: inline-block;
        width: 28vw;
        height: 20vw;    
      }
      a:nth-child(2n) {   
        img {
          margin-right: 3vw;
        }      
      }
      a:nth-child(3n) {   
        img {
          margin-right: 0;
        }      
      }
  }
  section#events-video {
    margin-top: 40px;
    padding: 3vw;
  }

  div.events-video--wrapper {       
      iframe {
        margin-right: 3vw;
        margin-top: 40px;
        display: inline-block;
        width: 28vw;
        height: 20vw;    
      }
      a:nth-child(2n) {   
        iframe {
          margin-right: 3vw;
        }      
      }
      a:nth-child(3n) {   
        iframe {
          margin-right: 0;
        }      
      }
  }
}
@import 'smallerDesktopMichal';

@media screen and (min-width: 1024px) {
    section#events-more {
      padding: 0;
    }

  section#events-gallery {
  margin-top: 40px;
  padding: 0;
  }

  div.events-gallery--wrapper {       
      img {
        margin-right: 15px;
        margin-top: 40px;
        display: inline-block;
        width: 18vw;
        height: 12vw; 
        max-width: 224px;
        max-height: 149px;   
      }
      a {   
        img:nth-child(n) {
          margin-right: 15px;
        }      
      }
      a:nth-child(5n) {   
        img {
          margin-right: 0;
        }      
      }
    
  }
  section#events-video {
    margin-top: 40px;
    padding: 0;
  }

  div.events-video--wrapper {       
      iframe {
        margin-right: 15px;
        margin-top: 40px;
        display: inline-block;
        width: 18vw;
        height: 12vw; 
        max-width: 224px;
        max-height: 149px;   
      }
      a {   
        iframe:nth-child(n) {
          margin-right: 15px;
        }      
      }
      a:nth-child(5n) {   
        iframe {
          margin-right: 0;
        }      
      }
    
  }
}
@import "desktopMichal";
